<div class="row" ng-init="$ctrl.init()">
    <h3>Profile</h3>
</div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <input type="text" ng-model="$ctrl.accountEmail" />
    </div>
</div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <input type="password" ng-model="$ctrl.password" />
    </div>
</div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <button class="bgcolor-primary" ng-click="$ctrl.updateProfile()">Update Profile</button>
    </div>
</div>

<div class="row bgcolor-default" ng-show="$ctrl.notificationMessage !== null">
    <div class="col-2-mobile col-2-desktop">
        <div class="notification operationSuccessful">
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-10-mobile col-10-desktop">
        <div class="notification">{{$ctrl.notificationMessage.message}}</div>
    </div>
</div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <hr class="bgcolor-primary" />
    </div>
</div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <button class="bgcolor-default" ng-click="$ctrl.signout()">Sign Out <i class="fa fa-sign-out fa-lg color-primary" aria-hidden="true"></i></button>
    </div>
</div>