<h3>Edit Shopping List: {{$ctrl.shoppinglist.name}}</h3>

<input type="text" ng-model="$ctrl.shoppinglist.name" placeholder="List Name">
<input type="text" ng-model="searchText" placeholder="Filter recipes...">

<div ng-repeat="recipe in $ctrl.shoppinglist.recipes track by $index">
    <div class="link-item" >{{recipe}}</div>
    <div class="link-item-action" ng-click="$ctrl.removeRecipeFromShoppinglist($ctrl.shoppinglist, $index)">x</div>
</div>


<div ng-repeat="recipe in $ctrl.recipes | filter:searchText">
    <div class="link-item" >{{recipe.name}}</div>
    <div class="link-item-action" ng-click="$ctrl.addRecipeToShoppinglist($ctrl.shoppinglist, recipe)">+</div>
</div>

<button class="button block color-darkturquoise" ng-click="$ctrl.updateShoppinglist()">Done!</button>