@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
html, input, select, button, .btn-default, .btn-primary, .btn-secondary {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px; }

body {
  background-color: #FFFFFF; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

.row {
  display: block; }
  .row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.col-1-desktop {
  width: calc(1 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-2-desktop {
  width: calc(2 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-3-desktop {
  width: calc(3 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-4-desktop {
  width: calc(4 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-5-desktop {
  width: calc(5 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-6-desktop {
  width: calc(6 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-7-desktop {
  width: calc(7 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-8-desktop {
  width: calc(8 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-9-desktop {
  width: calc(9 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-10-desktop {
  width: calc(10 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-11-desktop {
  width: calc(11 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

.col-12-desktop {
  width: calc(12 / 12 * 100% - 10px);
  margin: 5px;
  padding: 5px 0;
  background-color: #eceef1;
  color: #3f3f46;
  float: left; }

@media (max-width: 600px) {
  .col-1-mobile {
    width: calc(1 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-2-mobile {
    width: calc(2 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-3-mobile {
    width: calc(3 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-4-mobile {
    width: calc(4 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-5-mobile {
    width: calc(5 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-6-mobile {
    width: calc(6 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-7-mobile {
    width: calc(7 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-8-mobile {
    width: calc(8 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-9-mobile {
    width: calc(9 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-10-mobile {
    width: calc(10 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-11-mobile {
    width: calc(11 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; }

  .col-12-mobile {
    width: calc(12 / 12 * 100% - 10px);
    margin: 5px;
    padding: 5px 0;
    background-color: #eceef1;
    color: #3f3f46;
    float: left; } }
.bgcolor-default {
  background-color: #D8DBE2; }

.bgcolor-primary {
  background-color: #58A4B0; }

.bgcolor-secondary {
  background-color: #1B1B1E; }

input, textarea, select {
  width: 100%;
  padding: 0.5rem;
  height: 34px;
  border-radius: 0.3125rem;
  border: 1px solid #ccc; }

input, select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

button, .btn-default, .btn-primary, .btn-secondary {
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
  margin: 0 0.15rem;
  text-transform: uppercase; }

.btn-default {
  background-color: #D8DBE2;
  color: #373F51; }
  .btn-default:hover {
    background-color: #d1d4dd; }

.btn-primary {
  background-color: #58A4B0;
  color: #D8DBE2; }
  .btn-primary:hover {
    background-color: #69adb8; }

.btn-secondary {
  background-color: #1B1B1E;
  color: #A9BCD0; }
  .btn-secondary:hover {
    background-color: #333339; }

/*# sourceMappingURL=main.css.map */
