	<!-- List of Shopping Lists -->
	<div class="row">
        <div class="col-12-mobile col-12-desktop center-text">
            <h3>Shopping Lists</h3>
        </div>
    </div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <accordian shoppinglists="$ctrl.shoppinglists"></accordian>
    </div>
</div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <button class="btn-primary" ui-sref="base.shoppinglists.add"><i class="fa fa-plus"></i>&nbsp;Shopping List</button>
    </div>
</div>