<div class="row">
    <div class="col-12-mobile col-12-desktop center-text">
        <h3>Add Shopping List</h3>
    </div>
</div>

<div class="row">
    <div class="col-10-mobile col-10-desktop">
        <input type="text" ng-model="$ctrl.newShoppinglist.name" placeholder="Shopping List Name">
    </div>
    <div class="col-2-mobile col-2-desktop bgcolor-default align-vertical align-horizontal center-text">
        <span>{{$ctrl.newShoppinglist.recipes.length}}</span> 
    </div>
</div>

<!--  List of recipes -->
<div class="row" ng-repeat="recipe in $ctrl.recipes" ng-switch="" on="$index % 3">
    <div ng-class="{'bgcolor-primary' : $ctrl.newShoppinglist.recipes.indexOf($ctrl.recipes[$index]._id) > -1}" class="col-4-mobile col-4-desktop bgcolor-default center-text" ng-switch-when="0" ng-click="$ctrl.addRecipeToShoppinglist($ctrl.newShoppinglist, $ctrl.recipes[$index])">
        <span>{{$ctrl.recipes[$index].name}}</span>
    </div>
    <div ng-class="{'bgcolor-primary' : $ctrl.newShoppinglist.recipes.indexOf($ctrl.recipes[$index+1]._id) > -1}" class="col-4-mobile col-4-desktop bgcolor-default center-text" ng-show="$ctrl.recipes[$index+1]" ng-switch-when="0" ng-click="$ctrl.addRecipeToShoppinglist($ctrl.newShoppinglist, $ctrl.recipes[$index+1])">
        <span>{{$ctrl.recipes[$index+1].name}}</span>
    </div>
    <div ng-class="{'bgcolor-primary' : $ctrl.newShoppinglist.recipes.indexOf($ctrl.recipes[$index+2]._id) > -1}" class="col-4-mobile col-4-desktop bgcolor-default center-text" ng-show="$ctrl.recipes[$index+2]" ng-switch-when="0" ng-click="$ctrl.addRecipeToShoppinglist($ctrl.newShoppinglist, $ctrl.recipes[$index+2])">
        <span>{{$ctrl.recipes[$index+2].name}}</span>
    </div>

<div class="">
    
</div>

    <!-- <div class="col-12-mobile col-12-desktop">
        <div class="collection" ng-repeat="recipe in $ctrl.recipes">
            <div class="collection-item-10 bgcolor-default color-default align-vertical" ng-click="$ctrl.addRecipeToShoppinglist($ctrl.newShoppinglist, recipe)">
                <div>
                    {{recipe.name}}
                    <br>
                    <span class="color-primary">Ingredients: {{recipe.ingredients.length}}</span>
                </div>
            </div>
            <div class="collection-item-2 center-text color-primary align-horizontal align-vertical" ng-click="$ctrl.addRecipeToShoppinglist($ctrl.newShoppinglist, recipe)">
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div> -->
</div>

<div class="row">
    <div class="col-6-mobile col-6-desktop">
        <button class="bgcolor-primary" ng-click="$ctrl.saveShoppinglist()">Save</button>
    </div>
    <div class="col-6-mobile col-6-desktop">
    <button class="bgcolor-default" ui-sref="base.shoppinglists">Cancel</button>
    </div>
</div>