<!-- <h3>Add New Recipe</h3>

<input type="text" class="input" ng-model="$ctrl.newRecipe.name" placeholder="Recipe Title" />
<input type="text" class="input" ng-model="$ctrl.newRecipe.calorie_count" placeholder="Calorie Count" />

<div class="suggestionInput" ng-blur="$ctrl.toggleIngredientSuggestions(false)">
    <input type="text" class="input"  ng-change="$ctrl.checkIfIngredientSuggestionsShouldShow()" ng-model="$ctrl.newIngredient.name" placeholder="Ingredient Name" />
    <div class="suggestionContainer" ng-show="$ctrl.showIngredientSuggestions">
        <div class="suggestionItem color-green" ng-click="$ctrl.updateIngredientField(ingredient)" ng-repeat="ingredient in $ctrl.ingredientSuggestions | filter:$ctrl.newIngredient.name">{{ingredient.name}}</div>
    </div>
</div>

<input type="text" class="input" ng-model="$ctrl.newIngredient.quantity" placeholder="Quantity" />

<div class="suggestionInput" ng-blur="$ctrl.toggleQuantityTypeSuggestions(false)" >
    <input type="text" class="input" ng-change="$ctrl.checkIfQuantityTypeSuggestionsShouldShow()" ng-model="$ctrl.newIngredient.quantity_type" placeholder="Quantity Type" />
    <div class="suggestionContainer" ng-show="$ctrl.showQuantityTypeSuggestions">
        <div class="suggestionItem color-green" ng-click="$ctrl.updateQuantityTypeField(quantityType)" ng-repeat="quantityType in $ctrl.quantityTypeSuggestions | filter:$ctrl.newIngredient.quantity_type">{{quantityType.name}}</div>
    </div>
</div>

<button class="button color-pink" ng-click="$ctrl.addIngredient($ctrl.newRecipe)">Add Ingredient</button>

<div ng-repeat="ingredient in $ctrl.newRecipe.ingredients track by $index">
    <div class="link-item">{{ingredient.name}}  {{ingredient.quantity}}  {{ingredient.quantity_type}}</div>
    <div class="link-item-action" ng-click="$ctrl.removeIngredient($ctrl.newRecipe, $index)">x</div>
</div>

<button class="button color-pink" ng-click="$ctrl.addRecipe()">Done!</button>
-->


<div class="row">
    <div class="col-12-mobile col-12-desktop center-text">
        <h3>Add Recipe</h3>
    </div>
</div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <input type="text" ng-model="$ctrl.newRecipe.name" placeholder="Recipe Name">
        <!-- <input type="text" value="{{$ctrl.newRecipe.ingredients.length}}"> -->
    </div>
</div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <input type="text" ng-model="$ctrl.newRecipe.instructions" placeholder="Instructions">
        <!-- <input type="text" value="{{$ctrl.newRecipe.ingredients.length}}"> -->
    </div>
</div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <hr class="bgcolor-primary" />
    </div>
</div>

<!-- quantity selection -->
<div class="row">
    <div class="col-2-mobile col-4-desktop">
        <input type="text" ng-model="$ctrl.currentIngredient.quantity">
    </div>
    <div class="col-8-mobile col-6-desktop">
        <input type="text" ng-model="$ctrl.currentIngredient.quantity_type">
    </div>
    <div class="col-2-mobile col-2-desktop">
        <select ng-model="quantitySelect" ng-change="$ctrl.setQuantityType(quantitySelect)">
            <option ng-repeat="quantityType in $ctrl.quantityTypeSuggestions">{{quantityType.name}}</option>
        </select>
    </div>
</div>

<!--  List of ingredients -->
<div class="row">
    <div class="col-10-mobile col-10-desktop">
        <input type="text" ng-model="$ctrl.currentIngredient.name" placeholder="Ingredient name">
    </div>

    <div class="col-2-mobile col-2-desktop">
        <select ng-model="ingredientSelect" ng-change="$ctrl.setIngredientName(ingredientSelect)">
            <option ng-repeat="ingredient in $ctrl.ingredientSuggestions">{{ingredient.name}}</option>
        </select>
    </div>

    <!-- <div class="collection" ng-repeat="ingredient in $ctrl.ingredientSuggestions" ng-click="$ctrl.addIngredient(ingredient)"> -->
    <!-- <div class="collection" ng-repeat="ingredient in $ctrl.ingredientSuggestions" ng-show="$ctrl.currentIngredient.name === '' || $ctrl.currentIngredient.name === ingredient.name"> -->
            <!-- <div class="collection-item-10 bgcolor-default color-default align-vertical">
                <div>
                    {{ingredient.name}}
                </div>
            </div>
            <div class="collection-item-2 bgcolor-default color-primary align-vertical align-horizontal">
                <i class="fa fa-plus"></i>
            </div>
        </div> -->
    </div>

    <div class="row">
        <div class="col-12-mobile col-12-desktop">
            <button class="bgcolor-default" ng-click="$ctrl.addIngredient(ingredient)"><i class="fa fa-plus fa-lg color-primary"></i> Add Ingredient</button>
        </div>
    </div>

    <div class="row" ng-show="$ctrl.newRecipe.ingredients.length > 0">
        <div class="col-12-mobile col-12-desktop align-horizontal center-text">
            <hr class="bgcolor-primary" />
            <h3>Added Ingredients</h3>
        </div>
    </div>

    <div class="row" ng-show="$ctrl.newRecipe.ingredients.length > 0" ng-repeat="ingredient in $ctrl.newRecipe.ingredients track by $index">
        <div class="collection">
            <div class="collection-item-10 align-vertical">
                {{ingredient.name}}
            </div>
            <div class="collection-item-2 align-vertical align-horizontal" ng-click="$ctrl.removeIngredient($ctrl.newRecipe, $index)">
                <i class="fa fa-times fa-lg color-primary" aria-hidden="true"></i>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-12-mobile col-12-desktop">
        <hr class="bgcolor-primary"/>
    </div>
</div>

    <div class="row">
        <div class="col-6-mobile col-6-desktop">
            <button class="bgcolor-primary" ng-click="$ctrl.saveRecipe()">Save</button>
        </div>
        <div class="col-6-mobile col-6-desktop">
            <button class="bgcolor-default" ui-sref="base.recipes">Cancel</button>
        </div>
    </div>


